@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
} */

:root {
    --main-color: #18191d;
    --secondry-bgColor: #fd3870;
    --success-bg: #5aac35;
    --shade-color: #6d4186;
    --main-text-color: #fefffe;
    --bg-gradients: linear-gradient(0.35turn, #18191d 40%, #fd3870 80%);
}

body {
  background-color: var(--main-color);
  color: var(--main-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

.bg_gradients {
   background-image: var(--bg-gradients) ;
}

.shadows {
    box-shadow: 2px 2px 130px rgb(80, 79, 79)
}

.glass_bg {
  background: rgba(241, 203, 210, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(241, 203, 210, 0.3);
}