@import "tailwindcss";


:root {
    --main-color: #090909;
    --secondry-bgColor: rgba(245,97,0,255);
    --success: #5aac35;
    --warning: rgba(245,97,0,255);
    --purple: #51126f;
    --shade-color: #6d4186;
    --border-col: rgba(241, 203, 210, 0.3);
    --main-text-color: #fefefe;
    --grey-color: #918888;
    --bg-gradients: 
        linear-gradient(45deg, #18191d 20%, var(--warning) 50%),
        linear-gradient(0.3turn, #18191d 20%, var(--warning) 50%);
   
}

body {
  background-color: var(--main-color);
  color: var(--main-text-color);
}

/* SHADOWS & GLASSMORPHISM */

.nav_shadows {
   box-shadow: 0 2px 400px 0 rgba(245,97,0,255);
   background: rgba(20,20,20,255);
   border-radius: 16px;
   backdrop-filter: blur(15px);
   -webkit-backdrop-filter: blur(15px);
   border: 1px solid var(--border-col);
}

.bg_gradients {
   background-image: var(--warning) ;
}

.shadows {
  box-shadow: 1px 1px 190px 0 var(--warning);
}

/* btns shadow */
.shadows_orange {
  background-color: var(--warning);
  box-shadow: 1px 1px 190px 0 var(--warning);
}

.shadows_purple {
  background-color: var(--purple);
  box-shadow: 1px 1px 130px 0 var(--purple);
}

/* footer */
.footer_shadows {
  box-shadow: 0 2px 400px 0 rgba(245,97,0,255);
  background: rgba(20,20,20,255);
  border-radius: 16px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid var(--border-col);
}

.glass_orange {
    backdrop-filter: blur(6px) saturate(0%) opacity(50%) ;
    -webkit-backdrop-filter: blur(6px) saturate(0%);
    background-color: var(--warning);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass_bg {
  background: rgba(20,20,20,255);
  border-radius: 16px;
  box-shadow: 0 0 330px  rgba(20,20,20,255);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid var(--border-col);
}


/* features-info */
.spanning {
   grid-column: 1 / span 2;
}

/* faucet page */
.list_instruction_container li::marker {
  content: "💧"
}
